#tbl {
    color: white;
    width: 100%;
    border: 1px solid;
    float: right;
}

#col1 {
    width: 20%;
}

#col2,
#col3 {
    width: 40%;
}

th,
td {
    vertical-align: center;
    border: 1px solid;
}

#tf {
    width: 100%;
}